@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

/* CSS Reset */
html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-padding-top: 42.5px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #15191f;  
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 400;
}

/* General */
p {
    line-height: 2;
}

.bg__gradient {
    height: 3000px;
    width: 3000px;
    background-image: linear-gradient(90deg, #a834eb, #eb34c3, white, red, blue, green);
    filter: blur(500px);
    border-radius: 100%;
    background-size: 1000% 100%;

    animation: gradient 0.3s infinite ease-out;

    position: fixed;
    top: 0px;
    left: 0px;
    transform: translateX(-50%) translateY(-50%);

    z-index: 0
}

@keyframes gradient {
    0%{background-position:0% 50%}
    100%{background-position:100% 100%}
}

.bold-text {
    color: white;
}

.experience-card, .education-card {
    color: rgb(255, 255, 255, 50%);
    border-radius: 10px;
    background-image: linear-gradient(135deg, rgb(255, 255, 255, 15%), rgb(21, 25, 31, 0%));
    transition: all ease;
    cursor: pointer;
    z-index: 5;
}

.experience-card:hover, .education-card:hover {
    color: rgb(255, 255, 255, 80%) !important;
}

a.experience-card-link, a.education-card-link {
    text-decoration: none;
}

.left-section {
    height: 100vh !important;
}

/* Left index */
ol, ul {
    list-style: none;
    overflow: visible !important;
}

.selected {
    color: white !important;
    transform: scale(1.25);
}

/* Image */
.bottomRightShadow
{
  background-color: #eed;
  box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
  -moz-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
  -o-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
}

img {
    max-width: 100%;
    height: auto;
}

/* Responsive Design */
@media (min-width: 992px) {
    .left-section {
        padding-left: 10%;
        position: fixed;
        height: 100vh !important;
    }

    .right-section {
        scroll-behavior: smooth;
        padding-right: 10% !important;
        left: 50%;

    }

    .bg__gradient {
        position: absolute;
    }

    /* Future */
    .last-card {
        margin-bottom: 56vh !important;
    }
}

/* Hover animations */
.zoom-icon {
    transition: transform 0.3s;
}

.zoom-icon:hover {
    transform: scale(1.25);
    outline: none;
    cursor: pointer;
    color: white;
}

/* Future */
#projects_ {
    display: none;
}

#projects {
    display: none;
}